.container {
  max-width: 500px;
  margin: 50px auto;
  text-align: left;
  font-family: sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  h3 {
    margin-top: 10px;
    text-align: center;
  }